body {
    padding: 0 !important;
    background-color: var(--vscode-sideBar-background) !important;
}

.view-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    margin-top: 16px;
}

.form-container {
    max-width: 400px;
    width: 90%;
}

.form-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
}

.form-input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    font-size: 14px;
    border: 1px solid var(--vscode-input-border);
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
}

.form-input::placeholder {
    color: var(--vscode-input-placeholderForeground);
}

.form-input:focus {
    border-color: var(--vscode-focusBorder);
}

label, label span {
    color: var(--vscode-foreground);
}

.form-button {
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
}

.form-button:disabled {
    background-color: var(--vscode-button-disabled-background);
    color: var(--vscode-button-disabled-foreground);
    cursor: not-allowed;
}

.form-button:hover:enabled {
    background-color: var(--vscode-button-hoverBackground);
}

.button-secondary {
    background-color: var(--vscode-button-secondaryBackground);
    color: var(--vscode-button-secondaryForeground);
}

.button-secondary:hover:enabled {
    background-color: var(--vscode-button-secondaryHoverBackground);
}

.dropdown-container {
    background-color: var(--vscode-dropdown-background);
    border: 1px solid var(--vscode-editorWidget-border);
}

.dropdown-container button {
    color: var(--vscode-dropdown-foreground);
    background: var(--vscode-dropdown-background);
}

.dropdown-container button:hover {
    background: var(--vscode-list-hoverBackground);
}

.dropdown-container button:active {
    background: var(--vscode-list-activeSelectionBackground);
    color: var(--vscode-list-activeSelectionForeground);
}

/* Copied from src/webviews/App.css to style react-select components */


.ac-form-select__control {
    background: var(--vscode-input-background) !important;
    color: var(--vscode-dropdown-foreground) !important;
    border: 1px solid var(--vscode-input-border) !important;
    border-radius: 0 !important;
}

.ac-form-select__control--is-focused,
.ac-form-select__control:hover {
    border-color: var(--vscode-focusBorder) !important;
}

.ac-form-select__indicator {
    background: var(--vscode-input-background) !important;
    color: var(--vscode-input-foreground) !important;
}

.ac-form-select__input {
    color: var(--vscode-input-foreground) !important;
}
.ac-form-select__menu,
.ac-form-select__menu-list {
    background: var(--vscode-dropdown-background) !important;
    color: var(--vscode-input-foreground) !important;
}

.ac-form-select__menu-notice > span {
    color: var(--vscode-input-placeholderForeground) !important;
}

.ac-form-select__single-value {
    color: var(--vscode-input-foreground) !important;
}

.ac-form-select__multi-value__label {
    background: var(--vscode-input-background) !important;
    color: var(--vscode-input-foreground) !important;
    font-size: 100% !important;
}

.ac-form-select__multi-value__label span {
    color: var(--vscode-input-foreground) !important;
}

.ac-form-select__option {
    cursor: pointer !important;
    width: auto !important;
}

.ac-form-select__placeholder {
    color: var(--vscode-input-placeholderForeground) !important;
}

.ac-form-select__option--is-focused {
    background: var(--vscode-list-focusBackground) !important;
    color: var(--vscode-list-focusForeground) !important;
}

.ac-form-select__option--is-selected {
    background: var(--vscode-list-activeSelectionBackground) !important;
    color: var(--vscode-list-activeSelectionForeground) !important;
}

.ac-form-select__menu {
    border: 1px solid var(--vscode-focusBorder) !important;
    border-radius: 2px !important;
}

.ac-form-select__value-container {
    padding: 0 !important;
}

.ac-form-select-container-control-on-hover .ac-form-select__control {
    border: 1px solid var(--vscode-editor-background) !important;
}

.ac-form-select-container-control-on-hover .ac-form-select__control--is-focused,
.ac-form-select__control:hover {
    border-color: var(--vscode-focusBorder) !important;
}

.ac-form-select__option {
    color: var(--vscode-dropdown-foreground) !important;
}