networks:
    e2e:

services:
    wiremock-mockedteams:
        image: wiremock/wiremock
        command: >
            --https-port 443
            --verbose
            --max-request-journal-entries 50
            --https-keystore /home/wiremock_ssl_certs/wiremock-mockedteams.p12
        volumes:
            - ./wiremock-mappings/mockedteams:/home/wiremock/mappings
            - ./wiremock-mappings/mockedteams/__files:/home/wiremock/__files
            - ./sslcerts:/home/wiremock_ssl_certs
        networks:
            e2e:
                aliases:
                    - mockedteams.atlassian.net
                    - jira.mockeddomain.com
        expose:
            - 443

    wiremock-bitbucket:
        image: wiremock/wiremock
        command: >
            --https-port 443
            --verbose
            --https-keystore /home/wiremock_ssl_certs/wiremock-bitbucket.p12
        volumes:
            - ./wiremock-mappings/bitbucket:/home/wiremock/mappings
            - ./sslcerts:/home/wiremock_ssl_certs
        networks:
            e2e:
                aliases:
                    - bitbucket.mockeddomain.com
                    - bitbucket.org
                    - api.bitbucket.org
        expose:
            - 443

    atlascode-e2e:
        image: atlascode-e2e
        volumes:
            - ${PWD}/..:/atlascode
        environment:
            - NODE_TLS_REJECT_UNAUTHORIZED=0
            - ONLYSERVER
            - TARGET
            - DISABLE_ANALYTICS=1
            # Enable Atlaskit editor so add-comment E2E uses same path as when bug occurs (sends ADF);
            # test catches "body must be string" if postComment normalization is removed.
            - ATLASCODE_FF_OVERRIDES=atlascode-use-new-atlaskit-editor=true
        depends_on:
            - wiremock-mockedteams
            - wiremock-bitbucket
        networks:
            - e2e
        ports:
            - '9988:9988'
            - '31415:31415'
