networks:
    e2e:

services:
    wiremock-jira-cloud:
        image: wiremock/wiremock
        volumes:
            - ./wiremock-mappings/jira-cloud:/home/wiremock/mappings
            - ./wiremock-mappings/jira-common:/home/wiremock/mappings-common
            - ./wiremock-mappings/jira-common/__files:/home/wiremock/__files
            - ./sslcerts:/home/wiremock_ssl_certs
        entrypoint: ['/bin/sh', '-c']
        command: >
            "cp -r /home/wiremock/mappings-common/* /home/wiremock/mappings/ &&
            /docker-entrypoint.sh
            --https-port 443
            --verbose
            --https-keystore /home/wiremock_ssl_certs/wiremock-jira.p12"
        networks:
            e2e:
                aliases:
                    - mockedteams.atlassian.net
        expose:
            - 443

    wiremock-jira-dc:
        image: wiremock/wiremock
        volumes:
            - ./wiremock-mappings/jira-dc:/home/wiremock/mappings
            - ./wiremock-mappings/jira-common:/home/wiremock/mappings-common
            - ./wiremock-mappings/jira-common/__files:/home/wiremock/__files
            - ./sslcerts:/home/wiremock_ssl_certs
        entrypoint: ['/bin/sh', '-c']
        command: >
            "cp -r /home/wiremock/mappings-common/* /home/wiremock/mappings/ &&
            /docker-entrypoint.sh
            --https-port 443
            --verbose
            --https-keystore /home/wiremock_ssl_certs/wiremock-jira.p12"
        networks:
            e2e:
                aliases:
                    - jira.mockeddomain.com
        expose:
            - 443

    wiremock-bitbucket:
        image: wiremock/wiremock
        command: >
            --https-port 443
            --verbose
            --https-keystore /home/wiremock_ssl_certs/wiremock-bitbucket.p12
        volumes:
            - ./wiremock-mappings/bitbucket:/home/wiremock/mappings
            - ./sslcerts:/home/wiremock_ssl_certs
        networks:
            e2e:
                aliases:
                    - bitbucket.mockeddomain.com
                    - bitbucket.org
                    - api.bitbucket.org
        expose:
            - 443

    atlascode-e2e:
        image: atlascode-e2e
        volumes:
            - ${PWD}/..:/atlascode
        environment:
            - NODE_TLS_REJECT_UNAUTHORIZED=0
            - ONLYSERVER
            - TARGET
            - DISABLE_ANALYTICS=1
        depends_on:
            - wiremock-jira-cloud
            - wiremock-jira-dc
            - wiremock-bitbucket
        networks:
            - e2e
        ports:
            - '9988:9988'
            - '31415:31415'
