// A launch configuration that compiles the extension and then opens it inside a new window
// Use IntelliSense to learn about possible attributes.
// Hover to view descriptions of existing attributes.
// For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Extension",
            "type": "extensionHost",
            "request": "launch",
            "runtimeExecutable": "${execPath}",
            "args": [
                "--extensionDevelopmentPath=${workspaceFolder}"
            ],
            "outFiles": [
                "${workspaceFolder}/build/**/*.js"
            ],
            "preLaunchTask": "npm: devcompile",
            "envFile": "${workspaceFolder}/.env"
        },
        {
            "name": "Extension (RovoDev BBY)",
            "type": "extensionHost",
            "request": "launch",
            "runtimeExecutable": "${execPath}",
            "args": [
                "--extensionDevelopmentPath=${workspaceFolder}"
            ],
            "outFiles": [
                "${workspaceFolder}/build/**/*.js"
            ],
            "env": {
                "ROVODEV_PORT": "8899",
                "ROVODEV_ENABLED": "true",
                "BBY_USERID": "test_user",
                "ROVODEV_SANDBOX_ID": "bby_sandbox"
            },
            "preLaunchTask": "Start RovoDev Server"
        },
        {
            // This configuration requires npm run dev to be running externally
            // It will pick up the re-compiled extension code but not hot-swap it 
            "name": "Extension (watch/external)",
            "type": "extensionHost",
            "request": "launch",
            "runtimeExecutable": "${execPath}",
            "args": [
                "--extensionDevelopmentPath=${workspaceFolder}"
            ],
            "outFiles": [
                "${workspaceFolder}/build/**/*.js"
            ],
            "envFile": "${workspaceFolder}/.env"
        }
    ]
}
